# Database
MONGODB_URI=mongodb+srv://saqibijaz488:Forensic456@cluster0.j8kmu35.mongodb.net/

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dkchcw10b
CLOUDINARY_API_KEY=882959699966264
CLOUDINARY_API_SECRET=jALn4dluwz6eFQbvx4Fsxc0qFWY

CLOUDINARY_URL=cloudinary://882959699966264:jALn4dluwz6eFQbvx4Fsxc0qFWY@dkchcw10b

# PayPal Configuration
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret

# JWT Secret
JWT_SECRET=your-jwt-secret-key

# Server Configuration
PORT=5000
NODE_ENV=development